*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box{
  /* background-color: bisque; */
width: 100%;
  margin: auto;
}
.box h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-parent{
  width: 95%;
  background-color:rgb(231, 218, 218); 
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-question{
  width: 90%;
  margin: auto;
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px 0;
  border:outset;
  background-color: rgb(134, 114, 114);
  color: aliceblue;
  /* padding-top: 10px; */
}
.container-question h2{
  text-align: center;
}
.container-answer{
  padding:10px 0;
}
.container-answer h3{
  width: 88%;
  margin: auto;
  border: 2px solid gray;
  margin-top: 20px;
  padding: 10px;
  line-height: 30px;
  font-weight: normal;
  /* border:; */

}
.img{
  text-align: center;
  margin-top: 10px;
}
.order{
  margin-left: 20px;
}
.unorder{
  margin-left: 25px;
}
h3{
  /* border: 1px solid black; */
  width: 80%;
  padding: 15px;
  /* margin: 10px 0; */
  background-color: aliceblue;
  margin-left: 100px;
}
.form-check-box{
  height: 50px;
  width: 50px;
  position: relative;
  top: 67px;
  margin-left: 20px;
  border-radius: 50%;
}
.form-check h2{
  margin-left: 100px;
}
.container{
  background-color: blue;
}
.card{
  background-color: rgb(50, 77, 77);
}
.card-body{
  text-align: center;
}
